<script>
  import { stores } from "@sapper/app"

  export let amendement
  export let document

  const { session } = stores()

  $: signataires = amendement.signataires

  $: auteur = signataires.auteur

  $: acteur = auteur.acteur

  $: cosignataires = signataires.cosignataires

  $: ident = acteur === undefined ? undefined : acteur.etatCivil.ident

  $: qualiteByActeurUid = document.auteurs.reduce(
    (qualiteByActeurUid, auteur) => {
      const acteur = auteur.acteur
      if (acteur !== undefined) {
        qualiteByActeurUid[acteur.acteurRef] = acteur.qualite
      }
      return qualiteByActeurUid
    },
    {},
  )

  $: qualite = acteur === undefined ? undefined : qualiteByActeurUid[acteur.uid]

  const photoAlt = (etatCivil) => {
    const { civ, nom, prenom } = etatCivil.ident
    return `Photo de ${civ} ${prenom} ${nom}`
  }

  const photoUrl = (acteur) =>
    new URL(acteur.photo.chemin, $session.assembleeApi.url)

  const prenomEtNom = (acteur) => {
    const { nom, prenom } = acteur.etatCivil.ident
    return `${prenom} ${nom}`
  }
</script>

<div>
  {#if auteur.typeAuteur === "Gouvernement"}
    <div class="inline-flex items-center">
      <img
        alt="Logo du gouvernement"
        src="/logo_gouvernement.png"
        title="Le Gouvernement"
      />
      <div class="font-semibold italic ml-4">Le Gouvernement</div>
    </div>
  {:else if ["Depute", "Rapporteur"].includes(auteur.typeAuteur)}
    <div class="inline-flex items-center">
      <a href="deputes/{acteur.uid}">
        <img
          alt={photoAlt(acteur.etatCivil)}
          class="h-32"
          src={photoUrl(acteur)}
          title="{ident.prenom}
          {ident.nom}"
        />
      </a>
      <div class="leading-normal ml-4">
        <a class="font-semibold italic" href="deputes/{acteur.uid}">
          {ident.prenom}
          {ident.nom}
        </a>
        <!-- Le typeAuteur n'est pas fiable pour savoir si un député est ou non rapporteur.
        {#if auteur.typeAuteur === "Rapporteur"}
          <i class="text-sm">(rapporteur)</i>
        {/if} -->
        {#if qualite}
          <i class="text-sm">({qualite})</i>
        {/if}
        <!-- Le texteAffichable n'apporte pas d'information par rapport à la liste des cosignataires.
        {#if signataires.texteAffichable}
          {@html signataires.texteAffichable}
        {/if} -->
        {#if auteur.groupePolitique}
          <div>{auteur.groupePolitique.libelle}</div>
        {/if}
        <!-- L'organe (la commission) est très souvent absent.
        {#if auteur.organe}
          <div>
            {auteur.organe.libelle}
          </div>
        {/if} -->
      </div>
    </div>
  {:else}
    <div class="font-semibold italic">Auteur de type inconnu :</div>
    <pre class="whitespace-pre-wrap">{JSON.stringify(auteur, null, 2)}</pre>
  {/if}
</div>
{#if cosignataires !== undefined && cosignataires.length > 1}
  <div class="mt-4">
    <h4 class="mb-2 text-lg">
      {cosignataires.length - 1}
      {cosignataires.length > 2 ? "cosignataires" : "cosignataire"}
    </h4>
    <p>
      {#each cosignataires as cosignataire, cosignataireIndex}
        {#if cosignataire.uid !== auteur.acteurRef}
          <a class="a" href="deputes/{cosignataire.uid}"
            >{prenomEtNom(cosignataire)}</a
          >{cosignataireIndex < cosignataires.length - 2
            ? ", "
            : cosignataireIndex < cosignataires.length - 1
            ? " et "
            : ""}
        {/if}
      {/each}
    </p>
  </div>
{/if}
