<script>
  import { stores } from "@sapper/app"
  import { sortColorFromAmendement } from "../../../../../model/assemblee"

  const { session } = stores()

  const { amendements, document } = $session

  const acteurByUid = {}
  const amendementsCountByUid = {}
  const amendementsByDeputeUidByGroupeUid = {}
  const amendementsByOrganeUid = {}
  const gouvernementAmendements = []
  const organeByUid = {}
  for (const amendement of amendements) {
    const signataires = amendement.signataires
    const auteur = signataires.auteur
    if (auteur.typeAuteur === "Gouvernement") {
      gouvernementAmendements.push(amendement)
    } else if (auteur.organe !== undefined) {
      const auteurOrgane = auteur.organe
      organeByUid[auteurOrgane.uid] = auteurOrgane
      amendementsCountByUid[auteurOrgane.uid] =
        (amendementsCountByUid[auteurOrgane.uid] || 0) + 1
      let organeAmendements = amendementsByOrganeUid[auteurOrgane.uid]
      if (organeAmendements === undefined) {
        organeAmendements = amendementsByOrganeUid[auteurOrgane.uid] = []
      }
      organeAmendements.push(amendement)
    } else if (auteur.groupePolitique !== undefined) {
      const auteurGroupePolitique = auteur.groupePolitique
      organeByUid[auteurGroupePolitique.uid] = auteurGroupePolitique
      amendementsCountByUid[auteurGroupePolitique.uid] =
        (amendementsCountByUid[auteurGroupePolitique.uid] || 0) + 1
      let amendementsByDeputeUid =
        amendementsByDeputeUidByGroupeUid[auteurGroupePolitique.uid]
      if (amendementsByDeputeUid === undefined) {
        amendementsByDeputeUid = amendementsByDeputeUidByGroupeUid[
          auteurGroupePolitique.uid
        ] = {}
      }
      if (auteur.acteur !== undefined) {
        const auteurActeur = auteur.acteur
        acteurByUid[auteurActeur.uid] = auteurActeur
        amendementsCountByUid[auteurActeur.uid] =
          (amendementsCountByUid[auteurActeur.uid] || 0) + 1
        let deputeAmendements = amendementsByDeputeUid[auteurActeur.uid]
        if (deputeAmendements === undefined) {
          deputeAmendements = amendementsByDeputeUid[auteurActeur.uid] = []
        }
        deputeAmendements.push(amendement)
      }
    }
  }

  const groupesWithDeputesWithAmendements = Object.entries(
    amendementsByDeputeUidByGroupeUid,
  )
    .sort((a, b) => amendementsCountByUid[b[0]] - amendementsCountByUid[a[0]])
    .map(([groupeUid, amendementsByDeputeUid]) => {
      const deputesWithAmendements = Object.entries(amendementsByDeputeUid)
        .sort(
          (a, b) => amendementsCountByUid[b[0]] - amendementsCountByUid[a[0]],
        )
        .map(([deputeUid, deputeAmendements]) => [
          acteurByUid[deputeUid],
          deputeAmendements,
        ])
      return [organeByUid[groupeUid], deputesWithAmendements]
    })

  const organesWithAmendements = Object.entries(amendementsByOrganeUid)
    .sort((a, b) => amendementsCountByUid[b[0]] - amendementsCountByUid[a[0]])
    .map(([organeUid, organeAmendements]) => [
      organeByUid[organeUid],
      organeAmendements,
    ])
</script>

<svelte:head>
  <title>
    Groupes | Amendements | {document.titres.titrePrincipalCourt} | Assemblée | Documents
    | {$session.title}
  </title>
</svelte:head>

<article>
  <header class="mx-2 my-4">
    <h1 class="h4">Amendements par groupe politique</h1>
    <h2 class="font-medium h5 italic mt-1 text-gray-700">
      <b>{document.denominationStructurelle} :</b>
      {document.titres.titrePrincipalCourt}
    </h2>
  </header>

  <a class="a" href="documents/assemblee/{document.uid}/amendements"
    >Amendements par ordre de passage</a
  >

  <ul class="list-disc pl-4">
    {#each groupesWithDeputesWithAmendements as [groupe, deputesWithAmendements]}
      <li>
        <h2 class="h5">{groupe.libelle}</h2>
        <ul class="list-disc pl-4">
          {#each deputesWithAmendements as [depute, deputeAmendements]}
            <li>
              <h3 class="h6">
                {depute.etatCivil.ident.prenom}
                {depute.etatCivil.ident.nom}
              </h3>
              <ul class="list-disc pl-4">
                {#each deputeAmendements as amendement}
                  <li>
                    Amendement {amendement.numeroLong}
                    <span
                      class="bg-{sortColorFromAmendement(
                        amendement,
                      )} rounded text-xs
                      text-white"
                    >
                      {amendement.etat !== "Discuté"
                        ? amendement.etat
                        : amendement.sort.sortEnSeance}
                    </span>
                  </li>
                {/each}
              </ul>
            </li>
          {/each}
        </ul>
      </li>
    {/each}

    {#each organesWithAmendements as [organe, organeAmendements]}
      <li>
        <h2 class="h5">{organe.libelle}</h2>
        <ul class="list-disc pl-4">
          {#each organeAmendements as amendement}
            <li>
              Amendement {amendement.numeroLong}
              <span
                class="bg-{sortColorFromAmendement(
                  amendement,
                )} rounded text-xs text-white"
              >
                {amendement.etat !== "Discuté"
                  ? amendement.etat
                  : amendement.sort.sortEnSeance}
              </span>
            </li>
          {/each}
        </ul>
      </li>
    {/each}
    {#if gouvernementAmendements}
      <li>
        <h2 class="h5">Le Gouvernement</h2>
        <ul class="list-disc pl-4">
          {#each gouvernementAmendements as amendement}
            <li>
              Amendement {amendement.numeroLong}
              <span
                class="bg-{sortColorFromAmendement(
                  amendement,
                )} rounded text-xs text-white"
              >
                {amendement.etat !== "Discuté"
                  ? amendement.etat
                  : amendement.sort.sortEnSeance}
              </span>
            </li>
          {/each}
        </ul>
      </li>
    {/if}
  </ul>
</article>
