<script>
  import { faChevronDown } from "@fortawesome/free-solid-svg-icons/faChevronDown"
  import { faChevronUp } from "@fortawesome/free-solid-svg-icons/faChevronUp"
  import { faExclamationTriangle } from "@fortawesome/free-solid-svg-icons/faExclamationTriangle"
  import Icon from "fa-svelte"

  import { stores } from "@sapper/app"
  import {
    classFromSubdivisionLevel,
    sortColorFromAmendement,
  } from "../../../../../model/assemblee"
  import Signataires from "./_Signataires.svelte"
  import { showNewIssueModal } from "../../../../../stores"

  const { session } = stores()

  const {
    amendements,
    amendementsBySubdivisionId,
    document,
    subdivisions,
  } = $session

  let closedAuteurs = {}
  let closedDispositifs = {}
  let closedObjets = {}
  let diffs = {}
  let openDiffs = {}

  $: amendementByUid = amendements.reduce((amendementByUid, amendement) => {
    amendementByUid[amendement.uid] = amendement
    return amendementByUid
  }, {})

  const toggleAuteur = (amendementUid) => {
    closedAuteurs = {
      ...closedAuteurs,
      [amendementUid]: !closedAuteurs[amendementUid],
    }
  }

  const toggleDiff = async (subdivisionId, amendementUid) => {
    const openDiff = !openDiffs[amendementUid]
    openDiffs = {
      ...openDiffs,
      [amendementUid]: openDiff,
    }
    if (openDiff) {
      let diff = diffs[amendementUid]
      if (diff === undefined) {
        const amendement = amendementByUid[amendementUid]
        const subdivisionId = amendement.pointeurFragmentTexte.division.urlDivisionTexteVise.split(
          "#",
          2,
        )[1]
        const subdivision = subdivisions.filter(
          (subdivision) => subdivision.id === subdivisionId,
        )[0]
        if (subdivision === undefined) {
          diffs = {
            ...diffs,
            [amendementUid]: null,
          }
        } else {
          diffs = {
            ...diffs,
            [amendementUid]: "Calcul de l'effet de l'amendement en cours…",
          }

          // eslint-disable-next-line no-undef
          const amendementDispositifParser = new DOMParser()
          const amendementDispositifDoc = amendementDispositifParser.parseFromString(
            amendement.corps.dispositif,
            "text/html",
          )
          let amendementDispositifText =
            amendementDispositifDoc.body.textContent
          if (amendement.pointeurFragmentTexte.division.avantAApres !== "A") {
            // New amendment "Avant" or "Après". Add first line and quotes to each line.
            amendementDispositifText =
              // For example, divisionRattachee =
              //   "APRÈS L'ARTICLE 5 BIS, insérer l'article suivant:".
              amendement.pointeurFragmentTexte.division.divisionRattachee +
              "\n" +
              amendementDispositifText
                .trim()
                .split("\n")
                .map((line) => `« ${line}`)
                .join("\n") +
              " »"
          }

          const response = await fetch("durafront", {
            body: JSON.stringify(
              {
                texteAmendement: amendementDispositifText,
                texteArticle:
                  subdivision.text.alineas.length === 0
                    ? subdivision.text.headers.join("\n")
                    : subdivision.text.alineas.join("\n"),
              },
              null,
              2,
            ),
            credentials: "same-origin",
            headers: {
              "Content-Type": "application/json; charset=utf-8",
            },
            method: "POST",
          })
          const result = response.ok
            ? await response.json()
            : { error: { code: response.status, message: response.statusText } }
          if (result.error) {
            console.log(
              "Error while calling Durafront",
              result.error.code,
              result.error.message,
            )
          }
          diffs = {
            ...diffs,
            [amendementUid]: result,
          }
        }
      }
    }
  }

  const toggleDispositif = (amendementUid) => {
    closedDispositifs = {
      ...closedDispositifs,
      [amendementUid]: !closedDispositifs[amendementUid],
    }
  }

  const toggleObjet = (amendementUid) => {
    closedObjets = {
      ...closedObjets,
      [amendementUid]: !closedObjets[amendementUid],
    }
  }
</script>

<svelte:head>
  <title>
    Amendements | {document.titres.titrePrincipalCourt} | Assemblée | Documents |
    {$session.title}
  </title>
</svelte:head>

<article>
  <header class="mx-2 my-4">
    <h1 class="h4">Amendements</h1>
    <h2 class="font-medium h5 italic mt-1 text-gray-700">
      <b>{document.denominationStructurelle} :</b>
      {document.titres.titrePrincipalCourt}
    </h2>
  </header>

  <a class="a" href="documents/assemblee/{document.uid}/amendements/groupes">
    Amendements par auteurs et groupes
  </a>

  {#each subdivisions as subdivision}
    {#if amendementsBySubdivisionId[subdivision.id] !== undefined}
      <section class="bg-gray-200 p-4">
        <header>
          {#each subdivision.text.headers as header}
            <h3
              class="{classFromSubdivisionLevel(subdivision.level)} text-center"
            >
              {header}
            </h3>
          {/each}
        </header>
        {#each subdivision.text.alineas as alinea}
          <p class="leading-tight my-2">{alinea}</p>
        {/each}
        {#each amendementsBySubdivisionId[subdivision.id] as amendement (`amendement_${amendement.uid}`)}
          <article class="bg-white border container mx-auto my-4 p-4 shadow">
            <h3 class="h6">
              <a
                href="documents/assemblee/{document.uid}/amendements/{amendement
                  .identifiant.numero}"
                title="Détails de l'amendement"
              >
                {amendement.amendementParent === undefined
                  ? "Amendement"
                  : "Sous-amendement"}
                {amendement.numeroLong}
              </a>
              <span
                class="bg-{sortColorFromAmendement(
                  amendement,
                )} rounded text-xs
                text-white"
              >
                {amendement.etat !== "Discuté"
                  ? amendement.etat
                  : amendement.sort.sortEnSeance}
              </span>
            </h3>
            {#if amendement.corps.dispositif}
              <section class="w-full">
                <h4
                  class="bg-blue-500 cursor-pointer font-bold inline-block mt-5
                  px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white"
                  on:click={() => toggleDispositif(amendement.uid)}
                >
                  {amendement.pointeurFragmentTexte.division.divisionRattachee}
                  {#if closedDispositifs[amendement.uid]}
                    <Icon icon={faChevronDown} />
                  {:else}
                    <Icon icon={faChevronUp} />
                  {/if}
                </h4>
                {#if !closedDispositifs[amendement.uid]}
                  <div
                    class="border-l-8 border-t-0 border-blue-500 leading-normal
                    px-2 py-3"
                  >
                    {@html amendement.corps.dispositif}
                  </div>
                {/if}
              </section>
            {/if}
            {#if amendement.corps.exposeSommaire}
              <section class="w-full">
                <h4
                  class="bg-gray-600 cursor-pointer font-bold inline-block mt-5
                  px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white"
                  on:click={() => toggleObjet(amendement.uid)}
                >
                  Objet
                  {#if closedObjets[amendement.uid]}
                    <Icon icon={faChevronDown} />
                  {:else}
                    <Icon icon={faChevronUp} />
                  {/if}
                </h4>
                {#if !closedObjets[amendement.uid]}
                  <div
                    class="bg-gray-200 border-l-8 border-t-0 border-gray-600
                    leading-normal px-2 py-3"
                  >
                    {@html amendement.corps.exposeSommaire}
                  </div>
                {/if}
              </section>
            {/if}
            {#if amendement.corps.dispositif && diffs[amendement.uid] !== null}
              <section class="w-full">
                <h4
                  class="bg-teal-500 cursor-pointer font-bold inline-block mt-5
                  px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white"
                  on:click={() => toggleDiff(subdivision.id, amendement.uid)}
                >
                  Effet
                  {#if openDiffs[amendement.uid]}
                    <Icon icon={faChevronUp} />
                  {:else}
                    <Icon icon={faChevronDown} />
                  {/if}
                </h4>
                {#if openDiffs[amendement.uid]}
                  <div
                    class="border-l-8 border-t-0 border-teal-500 leading-normal
                    px-2 py-3"
                  >
                    {#if typeof diffs[amendement.uid] === "string"}
                      {diffs[amendement.uid]}
                    {:else if diffs[amendement.uid]}
                      {#if diffs[amendement.uid].data && diffs[amendement.uid].data["anonymous law"] && diffs[amendement.uid].data["anonymous law"]["anonymous article"] && diffs[amendement.uid].data["anonymous law"]["anonymous article"].text}
                        {#if diffs[amendement.uid].data.warnings}
                          <div class="mx-auto my-4" role="alert">
                            <div
                              class="bg-orange-500 font-bold rounded-t px-4 py-2
                              text-white"
                            >
                              <Icon icon={faExclamationTriangle} />
                              Attention !
                            </div>
                            <div
                              class="bg-orange-100 border border-orange-400
                              border-t-0 px-4 py-3 rounded-b text-orange-600"
                            >
                              <p>
                                Une erreur s'est produite lors du calcul de
                                l'effet de l'amendement. Le résultat ci-dessous
                                est
                                <b>erroné</b>
                                .
                              </p>
                            </div>
                          </div>
                        {/if}
                        <h5 class="text-lg">
                          {#if diffs[amendement.uid].data["anonymous law"]["anonymous article"].type === "added"}
                            Article additionnel
                          {:else if diffs[amendement.uid].data["anonymous law"]["anonymous article"].type === "deleted"}
                            Article supprimé
                          {:else}Modification{/if}
                        </h5>
                        <p>
                          {@html diffs[amendement.uid].data["anonymous law"][
                            "anonymous article"
                          ].text
                            .trim()
                            .replace(/\n\n/g, "</p><p>")
                            .replace(
                              /<del amendement="[a-z0-9-]+"><\/del>\n<del amendement="[a-z0-9-]+"><\/del>\n<del /g,
                              "</p><p><del ",
                            )
                            .replace(
                              /<\/del>\n<del amendement="[a-z0-9-]+"><\/del>\n<del amendement="[a-z0-9-]+"><\/del>/g,
                              "</del></p><p>",
                            )
                            .replace(
                              /<ins amendement="[a-z0-9-]+"><\/ins>\n<ins amendement="[a-z0-9-]+"><\/ins>\n<ins /g,
                              "</p><p><ins ",
                            )
                            .replace(
                              /<\/ins>\n<ins amendement="[a-z0-9-]+"><\/ins>\n<ins amendement="[a-z0-9-]+"><\/ins>/g,
                              "</ins></p><p>",
                            )
                            .replace(/\n/g, "<br>")}
                        </p>
                      {:else}
                        <p>
                          Le calcul de l'effet de l'amendement n'est pas
                          possible :
                        </p>
                        <pre
                          class="whitespace-pre-wrap">
                          {JSON.stringify(diffs[amendement.uid], null, 2)}
                        </pre>
                      {/if}
                    {/if}
                    <p
                      class="bg-teal-100 italic mt-2 text-center text-teal-800
                      text-sm"
                    >
                      Calcul des effets de l'amendement réalisé par
                      <a
                        href="https://archeo-lex.fr/durafront/"
                        target="_blank"
                      >
                        Durafront
                      </a>
                    </p>
                  </div>
                {/if}
              </section>
            {/if}
            <section class="w-full">
              <h4
                class="bg-indigo-500 cursor-pointer font-bold inline-block mt-5
                px-4 py-1 rounded-br-lg rounded-tl-lg text-lg text-white"
                on:click={() => toggleAuteur(amendement.uid)}
              >
                Présenté par
                {#if closedAuteurs[amendement.uid]}
                  <Icon icon={faChevronDown} />
                {:else}
                  <Icon icon={faChevronUp} />
                {/if}
              </h4>
              {#if !closedAuteurs[amendement.uid]}
                <div
                  class="border-l-8 border-t-0 border-indigo-500 leading-normal
                  px-2 py-3"
                >
                  <Signataires {amendement} {document} />
                </div>
              {/if}
            </section>
          </article>
        {/each}
      </section>
    {/if}
  {/each}
</article>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <!-- <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-indigo-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Pour en savoir plus
      </h2>
      <div class="bg-indigo-100 border border-t-0 border-indigo-400 px-4 py-3 rounded-b text-indigo-600">
        {#if dossierLegislatif.urlAn}
          <h3 class="font-medium mb-1 text-base text-normal">
            Assemblée nationale
          </h3>

          <ul>
            <li><a class="a" href="{dossierLegislatif.urlAn}" target="_blank">Dossier législatif {dossierLegislatif.typloi.typloide} {dossierLegislatif.typloi.typloiden}</a></li>
          </ul>
        {/if}

        <h3 class="font-medium mb-1{dossierLegislatif.urlAn ? " mt-4" : ""} text-base text-normal">
          Sénat
        </h3>

        <ul>
          <li><a class="a" href="https://www.senat.fr/dossier-legislatif/{dossierLegislatif.signet}.html" target="_blank">Dossier législatif {dossierLegislatif.typloi.typloide} {dossierLegislatif.typloi.typloiden}</a></li>
        </ul>

        {#if dossierLegislatif.doscocurl}
          <h3 class="font-medium mb-1 mt-4 text-base text-normal">
            Conseil constitutionnel
          </h3>

          <ul>
            <li><a class="a" href={dossierLegislatif.doscocurl} target="_blank">Dossier législatif {dossierLegislatif.typloi.typloide} {dossierLegislatif.typloi.typloiden}</a></li>
          </ul>
        {/if}

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          La fabrique de la loi
        </h3>

        <ul>
          <li><a class="a" href="https://www.lafabriquedelaloi.fr/articles.html?loi={dossierLegislatif.signet}" target="_blank">Étapes et versions {dossierLegislatif.typloi.typloide} {dossierLegislatif.typloi.typloiden}</a></li>
        </ul>

        {#if archeoLexUrl !== null}
          <h3 class="font-medium mb-1 mt-4 text-base text-normal">
            Archéo Lex
          </h3>

          <ul>
            <li><a class="a" href={archeoLexUrl} target="_blank">
              Historique de la loi n° {dossierLegislatif.numero}
              du {frenchDateWithoutDayOfWeekFromEpoch(dossierLegislatif.dateLoi)}
              {dossierLegislatif.loititjo}
            </a></li>
          </ul>
        {/if}
      </div>
    </div> -->

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div
        class="bg-teal-100 border border-t-0 border-teal-400 px-4 py-3 rounded-b
        text-teal-600"
      >
        <ul>
          <li>
            <button
              class="button-link"
              on:click={() => ($showNewIssueModal = true)}
              title="Ouvre un formulaire de saisie d'une remarque sur cette
              page."
              type="button"
            >
              Signaler un problème ou suggérer une amélioration
            </button>
          </li>
          <li>
            <a
              class="a"
              href="documents/assemblee/{document.uid}/amendements/api"
              target="_blank"
              title="Voir les appels à l'API effectués pour générer cette page."
            >
              Appels à l'API
            </a>
          </li>
          <li>
            <a
              class="a"
              href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/documents/assemblee/[document]/amendements/index.html"
              target="_blank"
              title="Voir le code source de la page dans la forge du logiciel."
            >
              Code source de cette page
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
