<script>
  import { stores } from "@sapper/app"
  import NewIssueModal from "../components/NewIssueModal.svelte"
  import { showNewIssueModal } from "../stores"

  export let segment

  const navMenu = [
    { to: ".", text: "Accueil" },
    { to: "a_propos", text: "À propos…" },
    { to: "deputes", text: "Députés" },
    { to: "dossiers/assemblee", text: "Dossiers Assemblée" },
    { to: "dossiers/senat", text: "Dossiers Sénat" },
    { to: "hatvp", text: "HATVP" },
  ]
  const { page, preloading, session } = stores()

  $: path = $page.path
</script>

<ul class="text-neutral-700">
  {#each navMenu as { text, to }}
    {#if segment === to || (segment === undefined && to === ".")}
      <li class="portal ~neutral active" aria-selected="true">{text}</li>
    {:else}
      <li class="portal"><a href={to}>{text}</a></li>
    {/if}
  {/each}
</ul>

<main class="container">
  <slot />
  {#if $showNewIssueModal}
    <NewIssueModal path={$page.path} />
  {/if}
</main>
