<script>
  import { faFilePdf } from "@fortawesome/free-solid-svg-icons/faFilePdf"
  import Icon from "fa-svelte"

  import { urlFromDocument } from "../../model/assemblee"

  export let document
</script>

<section>
  <slot />
  {#if document.xsiType === "avisConseilEtat_Type"}
    <a class="a" href={urlFromDocument(document, "pdf")} target="_blank"
      >{document.titres.titrePrincipal}
      <small>(PDF <Icon icon={faFilePdf} />)</small></a
    >
  {:else if document.xsiType === "documentEtudeImpact_Type"}
    <a class="a" href={urlFromDocument(document, "html")} target="_blank"
      >{document.titres.titrePrincipal}</a
    >
    (<a class="a" href={urlFromDocument(document, "pdf")} target="_blank"
      >version PDF <Icon icon={faFilePdf} /></a
    >)
  {:else if document.xsiType === "rapportParlementaire_Type"}
    <a class="a" href={urlFromDocument(document, "html")} target="_blank"
      >{document.denominationStructurelle}
      n° {document.notice.numNotice}
      {document.notice.formule}</a
    >
    (<a class="a" href={urlFromDocument(document, "pdf")} target="_blank"
      >version PDF <Icon icon={faFilePdf} /></a
    >)
  {:else if document.xsiType === "texteLoi_Type"}
    <a class="a" href="documents/assemblee/{document.uid}"
      >{document.denominationStructurelle}
      n° {document.notice.numNotice}
      {document.notice.formule}</a
    >
    <!-- <a class="a" href={urlFromDocument(document, "html")} target="_blank">{
      document.denominationStructurelle}
      n° {document.notice.numNotice}
      {document.notice.formule
    }</a>
    (<a class="a" href={urlFromDocument(document, "pdf")} target="_blank">version PDF <Icon icon={faFilePdf} /></a>) -->
  {:else}
    <i>Document de type inconnu : {document.xsiType}</i>
    <pre class="whitespace-pre-wrap">{JSON.stringify(document, null, 2)}</pre>
  {/if}
  {#if document.divisions !== undefined && document.divisions.length > 0}
    <ul class="list-disc pl-4">
      {#each document.divisions as division}
        <li><svelte:self document={division} /></li>
      {/each}
    </ul>
  {/if}
</section>
