<script context="module">
  import { insertLoiReferences } from "@tricoteuses/senat/lib/inserters"
  // import parseISO from "date-fns/parseISO"

  import { validateJsonResponse } from "../../../auditors/responses"
  import { colorFromEtaloilib } from "../../../model/senat"

  export async function preload(page, session) {
    const { q: term } = page.query

    const lois = await retrieveDossiersEnCours(
      session.senatApi.url,
      this.fetch,
      this.error,
      page,
      term,
    )

    return {
      lois,
      term,
    }
  }

  async function retrieveDossiersEnCours(
    senatApiUrl,
    fetch,
    gotoError,
    page,
    term,
  ) {
    if (term) {
      term = term.trim()
    }

    const response = await fetch(
      new URL(
        "dossiers?" +
          [
            term ? `q=${term}` : "",
            // "follow=aud.org",
            // "follow=auteur.qua",
            // "follow=dateSeance.debat",
            // "follow=dateSeance.scrs",
            // "follow=ecr.aut",
            // "follow=lecass.ass",
            // "follow=lecass.auds",
            // "follow=lecass.datesSeances",
            // "follow=lecass.debats",
            // "follow=lecass.lecassraps",
            // "follow=lecass.org",
            // "follow=lecass.textes",
            // "follow=lecassrap.rap",
            // "follow=lecture.lecasss",
            // "follow=lecture.typlec",
            // "follow=loi.deccoc",
            "follow=loi.etaloi",
            // "follow=loi.lectures",
            // "follow=loi.typloi",
            // "follow=rap.denrap",
            // "follow=rap.ecrs",
            // "follow=rap.orgs",
            // "follow=texte.ecrs",
            // "follow=texte.org",
            // "follow=texte.oritxt",
          ].join("&"),
        senatApiUrl,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${
          page.path
        }, while retrieving "dossiers en cours": ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }

    console.log(result)
    let lois = result.ids.map((loicod) =>
      insertLoiReferences(result.loi[loicod], result, new Set()),
    )

    return lois
  }
</script>

<script>
  import { stores } from "@sapper/app"
  // import CalendarDate from "../../../components/CalendarDate.svelte"
  import SearchForm from "../../../components/SearchForm.svelte"
  import { showNewIssueModal } from "../../../stores"

  export let lois
  export let term

  const { session } = stores()

  // const now = new Date()

  $: legislature = session.legislature
</script>

<svelte:head>
  <title>Sénat | Dossiers législatifs | {$session.title}</title>
</svelte:head>

<SearchForm searchPath="dossiers/senat" {term} />

<ul>
  {#each lois as loi}
    <li>
      <a href="dossiers/senat/{loi.loicod}">{loi.loient}</a>
      <span
        class="bg-{colorFromEtaloilib(
          loi.etaloi.etaloilib,
        )} px-1 rounded
        text-xs text-white"
      >
        {loi.etaloi.etaloilib === "promulgué ou adopté (ppr)"
          ? "adopté"
          : loi.etaloi.etaloilib}
      </span>
    </li>
  {/each}
</ul>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2
        class="bg-indigo-500 font-bold px-4 py-2 rounded-t text-lg text-white"
      >
        Pour en savoir plus
      </h2>

      <div
        class="bg-indigo-100 border border-t-0 border-indigo-400 px-4 py-3
        rounded-b text-indigo-600"
      >
        <h3 class="font-medium mb-1 text-base text-normal">
          Assemblée nationale
        </h3>

        <ul>
          <li>
            <a
              href="http://www.assemblee-nationale.fr/agendas/odj.asp"
              target="_blank"
            >
              Ordre du jour
            </a>
          </li>
          <li>
            <a
              href="http://www.assemblee-nationale.fr/{legislature}/liste/texte_ordre_du_jour.asp"
              target="_blank"
            >
              Textes inscrits à l'ordre du jour
            </a>
          </li>
          <li>
            <a
              href="http://www.assemblee-nationale.fr/{legislature}/documents/tableau-ban.asp"
              target="_blank"
            >
              État d'avancement des travaux législatifs
            </a>
          </li>
          <li>
            <a
              href="http://www.assemblee-nationale.fr/dyn/{legislature}/dossiers"
              target="_blank"
            >
              Liste des dossiers législatifs
            </a>
          </li>
        </ul>

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">Sénat</h3>

        <ul>
          <li>
            <a
              href="https://www.senat.fr/ordre-du-jour/ordre-du-jour.html"
              target="_blank"
            >
              Ordre du jour
            </a>
          </li>
          <li>
            <a
              href="https://www.senat.fr/dossiers-legislatifs/textes-recents.html"
              target="_blank"
            >
              Projets et propositions de loi récents ou discutés prochainement
            </a>
          </li>
        </ul>

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          La fabrique de la loi
        </h3>

        <ul>
          <li>
            <a
              class="a"
              href="https://www.lafabriquedelaloi.fr/lois.html"
              target="_blank"
            >
              Textes promulgués depuis 2008
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="bg-teal-100 card mb-4 mt-4">
      <h2 class="bg-teal-500 card-header h5">Les coulisses techniques</h2>

      <ul>
        <li>
          <button
            class="button-link"
            on:click={() => ($showNewIssueModal = true)}
            title="Ouvre un formulaire de saisie d'une remarque sur cette page."
            type="button"
          >
            Signaler un problème ou suggérer une amélioration
          </button>
        </li>
        <li>
          <a
            class="a"
            href="dossiers/assemblee/api"
            target="_blank"
            title="Voir les appels à l'API effectués pour générer cette page."
          >
            Appels à l'API
          </a>
        </li>
        <li>
          <a
            class="a"
            href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/dossiers/assemblee/index.html"
            target="_blank"
            title="Voir le code source de la page dans la forge du logiciel."
          >
            Code source de cette page
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
