<script>
  import format from "date-fns/format"
  import frLocale from "date-fns/locale/fr"

  export let date
  export let now

  $: dayOfMonth = format(date, "d", { locale: frLocale })

  $: dayOfWeek = format(date, "EEEE", { locale: frLocale })

  $: month = format(date, "LLLL", { locale: frLocale })

  $: year = format(date, "yyyy", { locale: frLocale })
</script>

<div class="bg-white block flex-none overflow-hidden rounded-t text-center w-24">
  <div class="bg-{date >= now ? "blue-500" : "gray-600"} py-1 text-white">
    {month}
  </div>
  <div class="pt-1 border-l border-r">
    <span class="text-4xl font-bold">{dayOfMonth}</span>
  </div>
  <div class="pb-2 px-2 border-l border-r border-b rounded-b flex justify-between">
    <span class="text-xs font-bold">{dayOfWeek}</span>
    <span class="text-xs font-bold">{year}</span>
  </div>
</div>
