<script>
  import { faSearch } from "@fortawesome/free-solid-svg-icons/faSearch"
  import Icon from "fa-svelte"

  import { goto } from "@sapper/app"
  import { buildSearchUrl } from "../strings"

  export let limit = 10
  export let offset = 0
  export let searchPath = "recherche"
  export let term = ""

  function search() {
    goto(buildSearchUrl(searchPath, { limit, offset, term }))
  }
</script>

<section class="container mx-2">
  <form on:submit|preventDefault={search}>
    <div class="flex flex-wrap items-stretch w-full">
      <div class="flex -mr-px">
        <span
          class="flex items-center leading-normal bg-teal-100 rounded
          rounded-r-none border border-r-0 border-teal-400 px-3
          whitespace-no-wrap text-teal-600 text-sm"
        >
          <Icon icon={faSearch} />
        </span>
      </div>
      <input
        class="border border-teal-400 focus:border-blue-500 flex-auto
        flex-grow flex-shrink h-10 leading-normal w-px focus:shadow px-3
        relative rounded rounded-l-none"
        placeholder="informatique et libertés…"
        type="text"
        bind:value={term}
      />
      <button
        class="bg-teal-500 hover:bg-teal-600 font-bold ml-2 py-2 px-4 rounded
        text-white"
        type="submit"
      >
        Rechercher
      </button>
    </div>
  </form>
</section>
