<script context="module">
  import { validateJsonResponse } from "../../auditors/responses"

  export async function preload(page, session) {
    const { q: term } = page.query

    const entries = await retrieveEntries(
      session.hatvpApi.url,
      this.fetch,
      this.error,
      page,
      term,
    )

    return {
      entries,
      term,
    }
  }

  async function retrieveEntries(hatvpApiUrl, fetch, gotoError, page, term) {
    if (term) {
      term = term.trim()
    }

    const response = await fetch(
      new URL(
        "repertoire?" + [term ? `q=${term}` : ""].join("&"),
        hatvpApiUrl,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${page.path}, while retrieving "hatvp": ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }

    return result.results
  }
</script>

<script>
  import { stores } from "@sapper/app"
  import SearchForm from "../../components/SearchForm.svelte"

  export let entries
  export let term

  const { session } = stores()
</script>

<svelte:head>
  <title>
    HATVP | Répertoire | {$session.title}
  </title>
</svelte:head>

<SearchForm searchPath="hatvp" {term} />

<pre> { JSON.stringify(entries, null, 2) } </pre>
