<script context="module">
  import { stateFromDossier } from "@tricoteuses/assemblee"
  import { shortNameFromOrgane } from "@tricoteuses/assemblee"
  import { insertDossierReferences } from "@tricoteuses/assemblee"
  import {
    chronologyFromAssembleeSteps,
    stepsFromDossier,
  } from "@tricoteuses/dossiers-legislatifs/lib/chronologies/assemblee"

  import { validateJsonResponse } from "../../../../auditors/responses"
  import { frenchTimeFromDateOrString } from "../../../../dates"
  import {
    colorFromOrganeCodeType,
    colorFromStatus,
    summaryStepsFromDossier,
  } from "../../../../model/assemblee"

  export async function preload(page, session) {
    const { dossier: dossierUid } = page.params

    return await retrieveDossier(
      session.assembleeApi.url,
      this.fetch,
      this.error,
      page,
      dossierUid,
    )
  }

  async function retrieveDossier(
    assembleeApiUrl,
    fetch,
    gotoError,
    page,
    dossierUid,
  ) {
    const response = await fetch(
      new URL(
        `dossiers/${dossierUid}?` +
          [
            "acte.organe",
            "acte.provenance",
            "acte.rapporteurs.acteur",
            "acte.reunion",
            "acte.texteAdopte",
            "acte.texteAssocie",
            "acte.textesAssocies.texteAssocie",
            "acte.votes",
            "dossier.initiateur.acteurs.acteur",
            "dossier.initiateur.organe",
            "organe.organeParent",
          ]
            .map((follow) => `follow=${follow}`)
            .join("&"),
        assembleeApiUrl,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${page.path}, while retrieving "dossier": ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }
    const dossier = insertDossierReferences(
      result.dossierByUid[result.uid],
      result,
      new Set(),
    )

    // Convert tree of actes to sequential steps.
    const steps = stepsFromDossier(dossier)
    const chronology = chronologyFromAssembleeSteps(steps)
    const procedureAcceleree = procedureAccelereeFromActes(
      dossier.actesLegislatifs,
    )
    let state = stateFromDossier(dossier)
    if (state !== null) {
      state = { ...state, color: colorFromStatus(state.currentStatus) }
    }
    const summarySteps = summaryStepsFromDossier(dossier)

    return { chronology, dossier, procedureAcceleree, state, summarySteps }
  }

  function procedureAccelereeFromActes(actes) {
    for (const acte of actes) {
      if (acte.actesLegislatifs) {
        let procedureAcceleree = procedureAccelereeFromActes(
          acte.actesLegislatifs,
        )
        if (procedureAcceleree !== null) {
          return procedureAcceleree
        }
      } else if (acte.xsiType === "ProcedureAccelere_Type") {
        return acte
      }
    }
    return null
  }
</script>

<script>
  import { faArrowRight } from "@fortawesome/free-solid-svg-icons/faArrowRight"
  import { faChevronDown } from "@fortawesome/free-solid-svg-icons/faChevronDown"
  import { faChevronUp } from "@fortawesome/free-solid-svg-icons/faChevronUp"
  import Icon from "fa-svelte"

  import { stores } from "@sapper/app"
  import ActeDocument from "../../../../components/assemblee/ActeDocument.svelte"
  import {
    displayDateFromLocalIsoString,
    frenchDateWithoutDayOfWeekFromDateOrString,
  } from "../../../../dates"
  import {
    colorFromCodierLibelle,
    textFromTypeRapporteur,
    urlFromScrutin,
  } from "../../../../model/assemblee"
  import { showNewIssueModal } from "../../../../stores"
  import { uncapitalizeFirstLetter } from "../../../../strings"

  let activeTabs = {}
  export let chronology
  let closedBlock = {}
  export let dossier
  export let procedureAcceleree
  export let state
  export let summarySteps

  const { session } = stores()

  $: assembleeApiUrl = $session.assembleeApi.url

  function isDiscussionCommissionWithAmendements(dossier, step) {
    if (step.texteLoi === undefined) {
      return false
    }
    const odj = step.leafActe.odj
    if (odj === undefined || odj.typePointOdj !== "Examen") {
      return false
    }
    const texteLoi = step.texteLoi
    if (texteLoi === undefined || texteLoi.depotAmendements === undefined) {
      return false
    }
    const amendementsCommission = texteLoi.depotAmendements.amendementsCommission.find(
      (amendementsCommision) =>
        amendementsCommision.amendable &&
        amendementsCommision.organeRef === step.leafActe.organeRef,
    )
    return amendementsCommission !== undefined
  }

  const photoAlt = (etatCivil) => {
    const { civ, nom, prenom } = etatCivil.ident
    return `Photo de ${civ} ${prenom} ${nom}`
  }

  const photoUrl = (acteur) => new URL(acteur.photo.chemin, assembleeApiUrl)

  function toggleBlock(symbol) {
    closedBlock = {
      ...closedBlock,
      [symbol]: !closedBlock[symbol],
    }
  }

  function toggleTab(symbol, value) {
    activeTabs = {
      ...activeTabs,
      [symbol]: value,
    }
  }
</script>

<svelte:head>
  <title>
    {dossier.titreDossier.titre} | Assemblée | Dossiers législatifs | {$session.title}
  </title>
</svelte:head>

<article class="mx-2">
  <header class="my-4">
    <h1 class="h4">
      {dossier.titreDossier.titre}
      {#if state !== null && state.label !== null}
        <span class="bg-{state.color} p-1 rounded text-base text-white">
          {state.label}
        </span>
      {/if}
    </h1>
    <h2 class="font-medium h5 italic mt-1 text-gray-700">
      <b>{dossier.procedureParlementaire.libelle}</b>
    </h2>
    {#if dossier.initiateur !== undefined}
      <h3 class="flex font-medium h6 items-start mt-1 text-gray-700">
        <span class="mr-2">
          {dossier.initiateur.acteurs.length +
            (dossier.initiateur.organe === undefined ? 0 : 1) >
          1
            ? "Initiateurs"
            : "Initiateur"} :
        </span>
        <ul class="inline-block text-gray-900">
          {#each dossier.initiateur.acteurs as acteur}
            {#if acteur.acteur !== undefined}
              <li>
                {acteur.acteur.etatCivil.ident.prenom}
                {acteur.acteur.etatCivil.ident.nom}
                {#if acteur.mandat}
                  {#if acteur.mandat.organes.length > 0}
                    , {shortNameFromOrgane(acteur.mandat.organes[0])}
                  {:else}
                    , {acteur.mandat.infosQualite.libQualiteSex ||
                      acteur.mandat.infosQualite.libQualite}
                  {/if}
                {/if}
              </li>
            {/if}
          {/each}
          {#if dossier.initiateur.organe !== undefined}
            <li>{shortNameFromOrgane(dossier.initiateur.organe)}</li>
          {/if}
        </ul>
      </h3>
    {/if}
    {#if procedureAcceleree !== null}
      <h3 class="h6 mt-1">Procédure accélérée engagée par le Gouvernement</h3>
    {/if}
  </header>

  <h2 class="mt-6 text-2xl">Sommaire</h2>
  <ul>
    {#each summarySteps as summaryStep}
      <li class="my-1 p-1">
        <span class="bg-{summaryStep.color} my-1 p-1 text-white">
          {summaryStep.organeName}
          {#if summaryStep.title !== undefined}— {summaryStep.title}{/if}
        </span>
        {#if summaryStep.state !== null && summaryStep.state.label !== null}
          <span
            class="bg-{summaryStep.state
              .color} p-1 rounded text-base text-white"
          >
            {summaryStep.state.label}
          </span>
        {/if}
      </li>
    {/each}
  </ul>

  <h2 class="mt-6 text-2xl">Chronologie</h2>

  {#each chronology as dateBlock, dateBlockIndex (`dateBlock_${dateBlockIndex}`)}
    <section>
      <h3 class="mt-8 text-xl">
        {dateBlock.dateLocalIsoString
          ? displayDateFromLocalIsoString(
              dateBlock.dateLocalIsoString.split("T")[0],
            )
          : "Date inconnue"}
      </h3>
      {#each dateBlock.keys.map((key) => dateBlock.organeBlockByKey[key]) as organeBlock (`organeBlock_${organeBlock.id}`)}
        <section>
          <h4
            class="bg-{colorFromOrganeCodeType(
              organeBlock.organeCodeType,
            )}
            cursor-pointer font-bold inline-block mt-5 px-4 py-1 rounded-br-lg
            rounded-tl-lg text-lg text-white"
            on:click={() => toggleBlock(organeBlock.id)}
          >
            {#if organeBlock.originOrganeName !== undefined}
              <span
                class="bg-white text-{colorFromOrganeCodeType(
                  organeBlock.originOrganeCodeType,
                )}
                px-1"
              >
                {organeBlock.originOrganeName}
                <Icon icon={faArrowRight} />
              </span>
            {/if}
            {organeBlock.organeName}
            {#if organeBlock.title !== undefined}— {organeBlock.title}{/if}
            {#if closedBlock[organeBlock.id]}
              <Icon icon={faChevronDown} />
            {:else}
              <Icon icon={faChevronUp} />
            {/if}
          </h4>
          {#if !closedBlock[organeBlock.id]}
            <div
              class="border-l-8 border-{colorFromOrganeCodeType(
                organeBlock.organeCodeType,
              )}
              pl-2 py-3"
            >
              <div class="flex flex-wrap -m-2">
                {#each organeBlock.keys.map((key) => organeBlock.subOrganeBlockByKey[key]) as subOrganeBlock (`subOrganeBlock_${subOrganeBlock.id}`)}
                  <section class="mb-2 mx-2 w-full md:flex-1">
                    {#if subOrganeBlock.title}
                      <h5 class="mt-2 text-lg">
                        {subOrganeBlock.title}
                        {#if subOrganeBlock.codeActe.includes("-AVIS-")}
                          <small class="font-normal">(saisie pour avis)</small>
                        {:else if subOrganeBlock.codeActe.includes("-FOND-")}
                          <small class="font-normal">(saisie au fond)</small>
                        {/if}
                      </h5>
                    {/if}
                    {#each subOrganeBlock.assembleeSteps as step (`step_${step.leafActe.uid}`)}
                      <section class="mt-2">
                        {#if step.typeActe === "ConclusionEtapeCC_Type"}
                          <p>
                            <a
                              class="a"
                              href={step.leafActe.urlConclusion}
                              target="_blank"
                            >
                              Décision n° {step.leafActe.anneeDecision}-{step
                                .leafActe.numDecision}
                              DC
                            </a>
                            :
                            <span
                              class="bg-{colorFromCodierLibelle(
                                step.leafActe.statutConclusion.libelle,
                              )}
                              rounded text-xs text-white"
                            >
                              {step.leafActe.statutConclusion.libelle}
                            </span>
                          </p>
                        {:else if step.typeActe === "Decision_Type"}
                          <p>
                            {(
                              step.leafActe.libelleActe.libelleCourt ||
                              step.leafActe.libelleActe.nomCanonique
                            ).replace(/\.$/, "")}
                            {#if step.leafActe.time}à {step.leafActe.time}{/if}
                            {#if step.leafActe.statutConclusion !== undefined}
                              <span
                                class="bg-{colorFromCodierLibelle(
                                  step.leafActe.statutConclusion.libelle,
                                )}
                                rounded text-xs text-white"
                              >
                                {step.leafActe.statutConclusion.libelle}
                              </span>
                            {/if}
                          </p>
                          {#if (step.leafActe.votes || []).length > 0}
                            <ul>
                              {#each step.leafActe.votes as vote}
                                <li>
                                  <a
                                    class="a"
                                    href={urlFromScrutin(vote)}
                                    target="_blank"
                                    title="Résultats du scrutin"
                                  >
                                    Vote sur {vote.titre}
                                  </a>
                                </li>
                              {/each}
                            </ul>
                          {/if}
                        {:else if step.typeActe === "DecisionMotionCensure_Type"}
                          <p>
                            {(
                              step.leafActe.libelleActe.libelleCourt ||
                              step.leafActe.libelleActe.nomCanonique
                            ).replace(/\.$/, "")}
                            {#if step.leafActe.time}à {step.leafActe.time}{/if}
                            {#if step.leafActe.decision !== undefined}
                              <span
                                class="bg-{colorFromCodierLibelle(
                                  step.leafActe.decision.libelle,
                                )}
                                rounded text-xs text-white"
                              >
                                {step.leafActe.decision.libelle}
                              </span>
                            {/if}
                          </p>
                          {#if (step.leafActe.votes || []).length > 0}
                            <ul>
                              {#each step.leafActe.votes as vote}
                                <li>
                                  <a
                                    class="a"
                                    href={urlFromScrutin(vote)}
                                    target="_blank"
                                    title="Résultats du scrutin"
                                  >
                                    Vote sur {vote.titre}
                                  </a>
                                </li>
                              {/each}
                            </ul>
                          {/if}
                        {:else if step.typeActe === "DepotAvisConseilEtat_Type"}
                          {#if step.leafActe.texteAssocie}
                            <ActeDocument
                              document={step.leafActe.texteAssocie}
                            />
                          {:else}
                            <p>
                              {(
                                step.leafActe.libelleActe.libelleCourt ||
                                step.leafActe.libelleActe.nomCanonique
                              ).replace(/\.$/, "")}
                            </p>
                          {/if}
                        {:else if step.typeActe === "DepotInitiative_Type"}
                          {#if step.leafActe.texteAssocie}
                            <ActeDocument document={step.leafActe.texteAssocie}>
                              {(
                                step.leafActe.libelleActe.libelleCourt ||
                                step.leafActe.libelleActe.nomCanonique
                              ).replace(/\.$/, "")} :
                            </ActeDocument>
                          {:else}
                            <p>
                              {(
                                step.leafActe.libelleActe.libelleCourt ||
                                step.leafActe.libelleActe.nomCanonique
                              ).replace(/\.$/, "")}
                            </p>
                          {/if}
                        {:else if step.typeActe === "DepotInitiativeNavette_Type"}
                          {#if step.leafActe.texteAssocie}
                            <ActeDocument document={step.leafActe.texteAssocie}>
                              {(
                                step.leafActe.libelleActe.libelleCourt ||
                                step.leafActe.libelleActe.nomCanonique
                              ).replace(/\.$/, "")} :
                            </ActeDocument>
                          {:else}
                            <p>
                              {(
                                step.leafActe.libelleActe.libelleCourt ||
                                step.leafActe.libelleActe.nomCanonique
                              ).replace(/\.$/, "")}
                            </p>
                          {/if}
                        {:else if step.typeActe === "DepotRapport_Type"}
                          {#if step.leafActe.texteAdopte}
                            <ActeDocument document={step.leafActe.texteAdopte}>
                              Texte adopté par la commission :
                            </ActeDocument>
                          {/if}
                          {#if step.leafActe.texteAssocie}
                            <ActeDocument document={step.leafActe.texteAssocie}>
                              {(
                                step.leafActe.libelleActe.libelleCourt ||
                                step.leafActe.libelleActe.nomCanonique
                              ).replace(/\.$/, "")} :
                            </ActeDocument>
                          {:else}
                            <p>
                              {(
                                step.leafActe.libelleActe.libelleCourt ||
                                step.leafActe.libelleActe.nomCanonique
                              ).replace(/\.$/, "")}
                            </p>
                          {/if}
                        {:else if step.typeActe === "DiscussionCommission_Type"}
                          <p>
                            {(
                              step.leafActe.libelleActe.libelleCourt ||
                              step.leafActe.libelleActe.nomCanonique
                            ).replace(/\.$/, "")}
                            {#if step.leafActe.reunion && step.leafActe.reunion.timestampDebut}
                              {#if step.leafActe.reunion.timestampFin}
                                de {frenchTimeFromDateOrString(
                                  step.leafActe.reunion.timestampDebut,
                                )}
                                à {frenchTimeFromDateOrString(
                                  step.leafActe.reunion.timestampFin,
                                )}
                              {:else}
                                à {frenchTimeFromDateOrString(
                                  step.leafActe.reunion.timestampDebut,
                                )}
                              {/if}
                            {:else if step.leafActe.time}
                              à {step.leafActe.time}
                            {/if}
                            {#if step.leafActe.reunion && step.leafActe.reunion.lieu}
                              , {step.leafActe.reunion.lieu.libelleLong ||
                                step.leafActe.reunion.lieu.libelleCourt}
                            {/if}
                          </p>
                          {#if step.leafActe.reunion}
                            <div>
                              {#if step.leafActe.reunion.ouverturePresse}
                                <i class="mr-3">Réunion ouverte à la presse</i>
                              {:else}
                                <i class="mr-3">Réunion fermée à la presse</i>
                              {/if}
                              {#if step.leafActe.odj !== undefined && step.leafActe.odj.comiteSecret}
                                <i class="mr-3">Point en comité secret</i>
                              {/if}
                              {#if step.leafActe.odj !== undefined && step.leafActe.odj.cycleDeVie !== undefined}
                                <i class="mr-3">
                                  <span class="text-gray-700">statut :</span>
                                  {step.leafActe.odj.cycleDeVie.etat}
                                </i>
                              {:else if step.leafActe.reunion.cycleDeVie !== undefined}
                                <i class="mr-3">
                                  <span class="text-gray-700">statut :</span>
                                  {step.leafActe.reunion.cycleDeVie.etat}
                                </i>
                              {/if}
                            </div>
                            {#if step.leafActe.odj}
                              <div>
                                <span class="text-gray-700">objet :</span>
                                {step.leafActe.odj.objet ||
                                  step.leafActe.odj.typePointOdj}
                              </div>
                              {#if isDiscussionCommissionWithAmendements(dossier, step)}
                                <div>
                                  <a
                                    class="a"
                                    href="documents/assemblee/{step.texteLoi
                                      .uid}/amendements"
                                  >
                                    Amendements examinés
                                  </a>
                                </div>
                              {/if}
                            {/if}
                            <div>
                              <div class="flex">
                                <span class="text-gray-700">
                                  détails de la réunion :
                                </span>
                                <ul class="flex">
                                  <li class="ml-1">
                                    {#if step.leafActe.reunion.odj === undefined || step.leafActe.reunion.odj.convocationOdj.length === 0}
                                      <span
                                        class="cursor-not-allowed inline-block
                                        text-gray-400"
                                      >
                                        convocation
                                      </span>
                                    {:else if activeTabs[step.leafActe.reunion.uid] === "convocation"}
                                      <span
                                        class="bg-blue-500 border
                                        border-blue-500 cursor-pointer
                                        inline-block px-1 rounded text-white"
                                        on:click={() =>
                                          toggleTab(
                                            step.leafActe.reunion.uid,
                                            null,
                                          )}
                                      >
                                        convocation
                                      </span>
                                    {:else}
                                      <span
                                        class="hover:bg-gray-200 border
                                        border-blue-500 cursor-pointer
                                        inline-block px-1 rounded text-blue-500"
                                        on:click={() =>
                                          toggleTab(
                                            step.leafActe.reunion.uid,
                                            "convocation",
                                          )}
                                      >
                                        convocation
                                      </span>
                                    {/if}
                                  </li>
                                  <li class="ml-1">
                                    {#if step.leafActe.reunion.odj === undefined || step.leafActe.reunion.odj.pointsOdj.length === 0}
                                      <span
                                        class="cursor-not-allowed inline-block
                                        text-gray-400"
                                      >
                                        ordre du jour
                                      </span>
                                    {:else if activeTabs[step.leafActe.reunion.uid] === "ordre du jour"}
                                      <span
                                        class="bg-blue-500 border
                                        border-blue-500 cursor-pointer
                                        inline-block px-1 rounded text-white"
                                        on:click={() =>
                                          toggleTab(
                                            step.leafActe.reunion.uid,
                                            null,
                                          )}
                                      >
                                        ordre du jour
                                      </span>
                                    {:else}
                                      <span
                                        class="hover:bg-gray-200 border
                                        border-blue-500 cursor-pointer
                                        inline-block px-1 rounded text-blue-500"
                                        on:click={() =>
                                          toggleTab(
                                            step.leafActe.reunion.uid,
                                            "ordre du jour",
                                          )}
                                      >
                                        ordre du jour
                                      </span>
                                    {/if}
                                  </li>
                                  <li class="ml-1">
                                    {#if step.leafActe.reunion.odj === undefined || step.leafActe.reunion.odj.resumeOdj.length === 0}
                                      <span
                                        class="cursor-not-allowed inline-block
                                        text-gray-400"
                                      >
                                        résumé
                                      </span>
                                    {:else if activeTabs[step.leafActe.reunion.uid] === "resume"}
                                      <span
                                        class="bg-blue-500 border
                                        border-blue-500 cursor-pointer
                                        inline-block px-1 rounded text-white"
                                        on:click={() =>
                                          toggleTab(
                                            step.leafActe.reunion.uid,
                                            null,
                                          )}
                                      >
                                        résumé
                                      </span>
                                    {:else}
                                      <span
                                        class="hover:bg-gray-200 border
                                        border-blue-500 cursor-pointer
                                        inline-block px-1 rounded text-blue-500"
                                        on:click={() =>
                                          toggleTab(
                                            step.leafActe.reunion.uid,
                                            "resume",
                                          )}
                                      >
                                        résumé
                                      </span>
                                    {/if}
                                  </li>
                                  <li class="ml-1">
                                    {#if step.leafActe.reunion.compteRenduRef === undefined}
                                      <span
                                        class="cursor-not-allowed inline-block
                                        text-gray-400"
                                      >
                                        compte rendu
                                      </span>
                                    {:else}
                                      <a
                                        href="http://www.assemblee-nationale.fr/ceresian/cr_redirect.asp?IdCR={step
                                          .leafActe.reunion.compteRenduRef}"
                                        target="_blank"
                                      >
                                        compte rendu
                                      </a>
                                    {/if}
                                  </li>
                                </ul>
                              </div>
                              {#if step.leafActe.reunion.odj !== undefined && step.leafActe.reunion.odj.convocationOdj.length > 0 && activeTabs[step.leafActe.reunion.uid] === "convocation"}
                                <ul class="ml-4 mt-1 whitespace-pre-line">
                                  {#each step.leafActe.reunion.odj.convocationOdj as item}
                                    <li>{item}</li>
                                  {/each}
                                </ul>
                              {/if}
                              {#if step.leafActe.reunion.odj !== undefined && step.leafActe.reunion.odj.pointsOdj.length > 0 && activeTabs[step.leafActe.reunion.uid] === "ordre du jour"}
                                <ul class="mt-1 whitespace-pre-line">
                                  {#each step.leafActe.reunion.odj.pointsOdj as item}
                                    <li>{item.objet}</li>
                                  {/each}
                                </ul>
                              {/if}
                              {#if step.leafActe.reunion.odj !== undefined && step.leafActe.reunion.odj.resumeOdj.length > 0 && activeTabs[step.leafActe.reunion.uid] === "resume"}
                                <ul class="ml-4 mt-1 whitespace-pre-line">
                                  {#each step.leafActe.reunion.odj.resumeOdj as item}
                                    <li>{item}</li>
                                  {/each}
                                </ul>
                              {/if}
                            </div>
                          {/if}
                        {:else if step.typeActe === "DiscussionSeancePublique_Type"}
                          <p>
                            {(
                              step.leafActe.libelleActe.libelleCourt ||
                              step.leafActe.libelleActe.nomCanonique
                            ).replace(/\.$/, "")}
                            {#if step.leafActe.reunion && step.leafActe.reunion.timestampDebut}
                              {#if step.leafActe.reunion.timestampFin}
                                de {frenchTimeFromDateOrString(
                                  step.leafActe.reunion.timestampDebut,
                                )}
                                à {frenchTimeFromDateOrString(
                                  step.leafActe.reunion.timestampFin,
                                )}
                              {:else}
                                à {frenchTimeFromDateOrString(
                                  step.leafActe.reunion.timestampDebut,
                                )}
                              {/if}
                            {:else if step.leafActe.time}
                              à {step.leafActe.time}
                            {/if}
                          </p>
                          {#if step.leafActe.reunion}
                            <div>
                              {#if step.leafActe.reunion.identifiants}
                                <i class="mr-3">
                                  {step.leafActe.reunion.identifiants.quantieme}
                                  séance
                                  {#if step.leafActe.reunion.identifiants.numSeanceJo !== undefined}
                                    (n° {step.leafActe.reunion.identifiants
                                      .numSeanceJo})
                                  {/if}
                                </i>
                              {/if}
                              {#if step.leafActe.reunion.ouverturePresse}
                                <i class="mr-3">Réunion ouverte à la presse</i>
                              {:else}
                                <i class="mr-3">Réunion fermée à la presse</i>
                              {/if}
                              {#if step.leafActe.odj !== undefined && step.leafActe.odj.comiteSecret}
                                <i class="mr-3">Point en comité secret</i>
                              {/if}
                              {#if step.leafActe.odj !== undefined && step.leafActe.odj.cycleDeVie !== undefined}
                                <i class="mr-3">
                                  <span class="text-gray-700">statut :</span>
                                  {step.leafActe.odj.cycleDeVie.etat}
                                </i>
                              {:else if step.leafActe.reunion.cycleDeVie !== undefined}
                                <i class="mr-3">
                                  <span class="text-gray-700">statut :</span>
                                  {step.leafActe.reunion.cycleDeVie.etat}
                                </i>
                              {/if}
                            </div>
                            {#if step.leafActe.odj}
                              <div>
                                <span class="text-gray-700">objet :</span>
                                {step.leafActe.odj.objet ||
                                  step.leafActe.odj.typePointOdj}
                              </div>
                            {/if}
                            <div>
                              <div class="flex">
                                <span class="text-gray-700">
                                  détails de la réunion :
                                </span>
                                <ul class="flex">
                                  <!-- <li class="ml-1">
                                    {#if step.leafActe.reunion.odj === undefined || step.leafActe.reunion.odj.convocationOdj.length === 0}
                                      <span class="cursor-not-allowed inline-block text-gray-400">convocation</span>
                                    {:elseif activeTabs[step.leafActe.reunion.uid] === "convocation"}
                                      <span
                                        class="bg-blue-500 border border-blue-500 cursor-pointer inline-block px-1 rounded text-white"
                                        on:click="toggleTab(step.leafActe.reunion.uid, null)"
                                      >convocation</span>
                                    {:else}
                                      <span
                                        class="hover:bg-gray-200 border border-blue-500 cursor-pointer inline-block px-1 rounded text-blue-500"
                                        on:click="toggleTab(step.leafActe.reunion.uid, 'convocation')"
                                      >convocation</span>
                                    {/if}
                                  </li> -->
                                  <li class="ml-1">
                                    {#if step.leafActe.reunion.odj === undefined || step.leafActe.reunion.odj.pointsOdj.length === 0}
                                      <span
                                        class="cursor-not-allowed inline-block
                                        text-gray-400"
                                      >
                                        ordre du jour
                                      </span>
                                    {:else if activeTabs[step.leafActe.reunion.uid] === "ordre du jour"}
                                      <span
                                        class="bg-blue-500 border
                                        border-blue-500 cursor-pointer
                                        inline-block px-1 rounded text-white"
                                        on:click={() =>
                                          toggleTab(
                                            step.leafActe.reunion.uid,
                                            null,
                                          )}
                                      >
                                        ordre du jour
                                      </span>
                                    {:else}
                                      <span
                                        class="hover:bg-gray-200 border
                                        border-blue-500 cursor-pointer
                                        inline-block px-1 rounded text-blue-500"
                                        on:click={() =>
                                          toggleTab(
                                            step.leafActe.reunion.uid,
                                            "ordre du jour",
                                          )}
                                      >
                                        ordre du jour
                                      </span>
                                    {/if}
                                  </li>
                                  <!-- <li class="ml-1">
                                    {#if step.leafActe.reunion.odj === undefined || step.leafActe.reunion.odj.resumeOdj.length === 0}
                                      <span class="cursor-not-allowed inline-block text-gray-400">résumé</span>
                                    {:elseif activeTabs[step.leafActe.reunion.uid] === "resume"}
                                      <span
                                        class="bg-blue-500 border border-blue-500 cursor-pointer inline-block px-1 rounded text-white"
                                        on:click="toggleTab(step.leafActe.reunion.uid, null)"
                                      >résumé</span>
                                    {:else}
                                      <span
                                        class="hover:bg-gray-200 border border-blue-500 cursor-pointer inline-block px-1 rounded text-blue-500"
                                        on:click="toggleTab(step.leafActe.reunion.uid, 'resume')"
                                      >résumé</span>
                                    {/if}
                                  </li> -->
                                  <li class="ml-1">
                                    {#if step.leafActe.reunion.compteRenduRef === undefined}
                                      <span
                                        class="cursor-not-allowed inline-block
                                        text-gray-400"
                                      >
                                        compte rendu
                                      </span>
                                    {:else}
                                      <a
                                        href="http://www.assemblee-nationale.fr/ceresian/cr_seance_redirect.asp?IdCR={step
                                          .leafActe.reunion.compteRenduRef}"
                                        target="_blank"
                                      >
                                        compte rendu
                                      </a>
                                    {/if}
                                  </li>
                                </ul>
                              </div>
                              <!-- {#if
                                step.leafActe.reunion.odj !== undefined
                                && step.leafActe.reunion.odj.convocationOdj.length > 0
                                && activeTabs[step.leafActe.reunion.uid] === "convocation"
                              }
                                <ul class="ml-4 mt-1 whitespace-pre-line">
                                  {#each step.leafActe.reunion.odj.convocationOdj as item}
                                    <li>{item}</li>
                                  {/each}
                                </ul>
                              {/if} -->
                              {#if step.leafActe.reunion.odj !== undefined && step.leafActe.reunion.odj.pointsOdj.length > 0 && activeTabs[step.leafActe.reunion.uid] === "ordre du jour"}
                                <ul class="mt-1 whitespace-pre-line">
                                  {#each step.leafActe.reunion.odj.pointsOdj as item}
                                    <li>{item.objet}</li>
                                  {/each}
                                </ul>
                              {/if}
                              <!-- {#if
                                step.leafActe.reunion.odj !== undefined
                                && step.leafActe.reunion.odj.resumeOdj.length > 0
                                && activeTabs[step.leafActe.reunion.uid] === "resume"
                              }
                                <ul class="ml-4 mt-1 whitespace-pre-line">
                                  {#each step.leafActe.reunion.odj.resumeOdj as item}
                                    <li>{item}</li>
                                  {/each}
                                </ul>
                              {/if} -->
                            </div>
                          {/if}
                        {:else if step.typeActe === "EtudeImpact_Type"}
                          {#if step.leafActe.texteAssocie}
                            <ActeDocument
                              document={step.leafActe.texteAssocie}
                            />
                          {:else}
                            <p>
                              {(
                                step.leafActe.libelleActe.libelleCourt ||
                                step.leafActe.libelleActe.nomCanonique
                              ).replace(/\.$/, "")}
                            </p>
                          {/if}
                        {:else if step.typeActe === "EtudeImpact.contributionInternaute.dateFermeture"}
                          <p>Fin de la consultation en ligne des citoyens</p>
                        {:else if step.typeActe === "EtudeImpact.contributionInternaute.dateOuverture"}
                          <p>Début de la consultation en ligne des citoyens</p>
                        {:else if step.typeActe === "NominRapporteurs_Type"}
                          <p>
                            {(
                              step.leafActe.libelleActe.libelleCourt ||
                              step.leafActe.libelleActe.nomCanonique
                            ).replace(/\.$/, "")} :
                          </p>
                          {#each step.leafActe.rapporteurs as rapporteur}
                            {#if rapporteur.acteur === undefined}
                              <div class="font-semibold italic">
                                Rapporteur inconnu :
                              </div>
                              <pre
                                class="whitespace-pre-wrap">
                                {JSON.stringify(rapporteur, null, 2)}
                              </pre>
                            {:else}
                              <div class="inline-flex items-center">
                                {#if rapporteur.acteur.photo}
                                  <a
                                    class="a"
                                    href="deputes/{rapporteur.acteur.uid}"
                                  >
                                    <img
                                      alt={photoAlt(
                                        rapporteur.acteur.etatCivil,
                                      )}
                                      class="h-32"
                                      src={photoUrl(rapporteur.acteur)}
                                      title="{rapporteur.acteur.etatCivil.ident
                                        .prenom}
                                      {rapporteur
                                        .acteur.etatCivil.ident.nom}"
                                    />
                                  </a>
                                {/if}
                                <div class="leading-normal ml-4">
                                  <a
                                    class="a font-semibold italic"
                                    href="deputes/{rapporteur.acteur.uid}"
                                  >
                                    <!-- {rapporteur.acteur.etatCivil.ident.civ} -->
                                    {rapporteur.acteur.etatCivil.ident.prenom}
                                    {rapporteur.acteur.etatCivil.ident.nom}
                                  </a>
                                  <i class="text-sm">
                                    ({textFromTypeRapporteur(
                                      rapporteur.typeRapporteur,
                                    )})
                                  </i>
                                  {#if rapporteur.acteur.groupePolitique}
                                    <div>
                                      {rapporteur.acteur.groupePolitique
                                        .libelle}
                                    </div>
                                  {/if}
                                </div>
                              </div>
                            {/if}
                          {/each}
                        {:else if step.typeActe === "ProcedureAccelere_Type"}
                          <p>
                            {(
                              step.leafActe.libelleActe.libelleCourt ||
                              step.leafActe.libelleActe.nomCanonique
                            ).replace(/\.$/, "")}
                          </p>
                        {:else if step.typeActe === "Promulgation_Type"}
                          <p>
                            Promulgation de la loi n° {step.leafActe.codeLoi}
                          </p>
                        {:else if step.typeActe === "Promulgation.infoJo"}
                          <p>
                            Parution au
                            <a
                              class="a"
                              href={step.leafActe.infoJo.urlLegifrance}
                              target="_blank"
                            >
                              Journal officiel n° {step.leafActe.infoJo.numJo}
                            </a>
                            de la loi n° {step.leafActe.codeLoi} du {frenchDateWithoutDayOfWeekFromDateOrString(
                              step.leafActe.dateActe,
                            )}
                            {step.leafActe.titreLoi}
                          </p>
                        {:else if step.typeActe === "Promulgation.infoJoRect"}
                          <p>
                            Parution au
                            <a
                              class="a"
                              href={step.infoJo.urlLegifrance}
                              target="_blank"
                            >
                              Journal officiel n° {step.infoJo.numJo}
                            </a>
                            d'un rectificatif à la loi n° {step.leafActe
                              .codeLoi}
                            du {frenchDateWithoutDayOfWeekFromDateOrString(
                              step.leafActe.dateActe,
                            )}
                            {step.leafActe.titreLoi}
                          </p>
                        {:else if step.typeActe === "RenvoiCMP_Type"}
                          <p>
                            Convocation {step.leafActe.organe.libelleEdition}
                          </p>
                        {:else if ["SaisieComAvis_Type", "SaisieComFond_Type"].includes(step.typeActe)}
                          <p>
                            {(
                              step.leafActe.libelleActe.libelleCourt ||
                              step.leafActe.libelleActe.nomCanonique
                            ).replace(/\.$/, "")} :
                          </p>
                          {#if step.leafActe.codeActe.includes("-COM-")}
                            <h5 class="text-lg">
                              {step.leafActe.organe.libelle} ({shortNameFromOrgane(
                                step.leafActe.organe,
                              )})
                            </h5>
                          {/if}
                        {:else if step.typeActe === "SaisineConseilConstit_Type"}
                          <p>
                            {(
                              step.leafActe.libelleActe.libelleCourt ||
                              step.leafActe.libelleActe.nomCanonique
                            ).replace(/\.$/, "")}
                            {#if step.leafActe.casSaisine}
                              par {uncapitalizeFirstLetter(
                                step.leafActe.casSaisine.libelle,
                              )}
                            {/if}
                            {#if step.leafActe.motif}
                              , {uncapitalizeFirstLetter(step.leafActe.motif)}
                            {/if}
                          </p>
                        {:else}
                          <ul class="list-disc pl-4">
                            {#each step.actes as acte, acteIndex}
                              {#if acteIndex !== 0 || !step.skipRootActe}
                                <li>
                                  {acte.libelleActe.libelleCourt ||
                                    acte.libelleActe.nomCanonique}
                                  {#if acte.casSaisine}
                                    <span
                                      class="bg-{colorFromCodierLibelle(
                                        acte.casSaisine.libelle,
                                      )}
                                      rounded text-xs text-white"
                                    >
                                      {acte.casSaisine.libelle}
                                    </span>
                                  {/if}
                                  {#if acte.decision}
                                    <span
                                      class="bg-{colorFromCodierLibelle(
                                        acte.decision.libelle,
                                      )}
                                      rounded text-xs text-white"
                                    >
                                      {acte.decision.libelle}
                                    </span>
                                  {/if}
                                  {#if acte.statutAdoption}
                                    <span
                                      class="bg-{colorFromCodierLibelle(
                                        acte.statutAdoption.libelle,
                                      )}
                                      rounded text-xs text-white"
                                    >
                                      {acte.statutAdoption.libelle}
                                    </span>
                                  {/if}
                                  {#if acte.statutConclusion}
                                    <span
                                      class="bg-{colorFromCodierLibelle(
                                        acte.statutConclusion.libelle,
                                      )}
                                      rounded text-xs text-white"
                                    >
                                      {acte.statutConclusion.libelle}
                                    </span>
                                  {/if}
                                  {#if acte.typeDeclaration}
                                    <span
                                      class="bg-{colorFromCodierLibelle(
                                        acte.typeDeclaration.libelle,
                                      )}
                                      rounded text-xs text-white"
                                    >
                                      {acte.typeDeclaration.libelle}
                                    </span>
                                  {/if}
                                  {#if acte.typeMotion}
                                    <span
                                      class="bg-{colorFromCodierLibelle(
                                        acte.typeMotion.libelle,
                                      )}
                                      rounded text-xs text-white"
                                    >
                                      {acte.typeMotion.libelle}
                                    </span>
                                  {/if}
                                  {#if acte.typeMotionCensure}
                                    <span
                                      class="bg-{colorFromCodierLibelle(
                                        acte.typeMotionCensure.libelle,
                                      )}
                                      rounded text-xs text-white"
                                    >
                                      {acte.typeMotionCensure.libelle}
                                    </span>
                                  {/if}
                                  {#if acte.time}
                                    <span>à {acte.time}</span>
                                  {/if}
                                </li>
                              {/if}
                            {/each}
                          </ul>
                        {/if}
                      </section>
                    {/each}
                  </section>
                {/each}
              </div>
            </div>
          {/if}
        </section>
      {/each}
    </section>
  {/each}
</article>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2
        class="bg-indigo-500 font-bold px-4 py-2 rounded-t text-lg text-white"
      >
        Pour en savoir plus
      </h2>
      <div
        class="bg-indigo-100 border border-t-0 border-indigo-400 px-4 py-3
        rounded-b text-indigo-600"
      >
        {#if dossier.titreDossier.titreChemin}
          <h3 class="font-medium mb-1 text-base text-normal">
            Assemblée nationale
          </h3>

          <ul>
            <li>
              <a
                class="a"
                href="http://www.assemblee-nationale.fr/dyn/{dossier.legislature}/dossiers/{dossier
                  .titreDossier.titreChemin}"
                target="_blank"
              >
                Dossier législatif : {dossier.titreDossier.titre}
              </a>
            </li>
          </ul>
        {/if}

        {#if dossier.titreDossier.senatChemin}
          <h3
            class="font-medium mb-1{dossier.titreDossier.titreChemin
              ? ' mt-4'
              : ''}
            text-base text-normal"
          >
            Sénat
          </h3>

          <ul>
            <li>
              <a
                class="a"
                href={dossier.titreDossier.senatChemin}
                target="_blank"
              >
                Dossier législatif : {dossier.titreDossier.titre}
              </a>
            </li>
          </ul>
        {/if}

        <!-- {#if dossierLegislatif.doscocurl}
          <h3 class="font-medium mb-1 mt-4 text-base text-normal">
            Conseil constitutionnel
          </h3>

          <ul>
            <li><a class="a" href={dossierLegislatif.doscocurl} target="_blank">Dossier législatif : {dossier.titreDossier.titre}</a></li>
          </ul>
        {/if} -->

        <!-- <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          La fabrique de la loi
        </h3>

        <ul>
          <li><a class="a" href="https://www.lafabriquedelaloi.fr/articles.html?loi={dossierLegislatif.signet}" target="_blank">Étapes et versions : {dossier.titreDossier.titre}</a></li>
        </ul> -->

        <!-- {#if archeoLexUrl !== null}
          <h3 class="font-medium mb-1 mt-4 text-base text-normal">
            Archéo Lex
          </h3>

          <ul>
            <li><a class="a" href={archeoLexUrl} target="_blank">
              Historique de la loi n° {dossierLegislatif.numero}
              du {frenchDateWithoutDayOfWeekFromEpoch(dossierLegislatif.dateLoi)}
              {dossierLegislatif.loititjo}
            </a></li>
          </ul>
        {/if} -->
      </div>
    </div>

    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2 class="bg-teal-500 font-bold px-4 py-2 rounded-t text-lg text-white">
        Les coulisses techniques
      </h2>
      <div
        class="bg-teal-100 border border-t-0 border-teal-400 px-4 py-3 rounded-b
        text-teal-600"
      >
        <ul>
          <li>
            <button
              class="button-link"
              on:click={() => ($showNewIssueModal = true)}
              title="Ouvre un formulaire de saisie d'une remarque sur cette
              page."
              type="button"
            >
              Signaler un problème ou suggérer une amélioration
            </button>
          </li>
          <li>
            <a
              class="a"
              href="dossiers/assemblee/{dossier.uid}/api"
              target="_blank"
              title="Voir les appels à l'API effectués pour générer cette page."
            >
              Appels à l'API
            </a>
          </li>
          <li>
            <a
              class="a"
              href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/dossiers/assemblee/[dossier]/index.html"
              target="_blank"
              title="Voir le code source de la page dans la forge du logiciel."
            >
              Code source de cette page
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
