<script context="module">
  import { stateFromDossier } from "@tricoteuses/assemblee"
  import { insertDossierReferences } from "@tricoteuses/assemblee"
  // import parseISO from "date-fns/parseISO"

  import { validateJsonResponse } from "../../../auditors/responses"
  import { displayDateFromLocalIsoString } from "../../../dates"
  import {
    colorFromStatus,
    nextActePath,
    nextDate,
    previousActePath,
    previousDate,
    summaryStepFromActePath,
    summaryStepsFromDossier,
  } from "../../../model/assemblee"

  export async function preload(page, session) {
    const { q: term } = page.query

    const dossiers = await retrieveDossiersEnCours(
      session.assembleeApi.url,
      this.fetch,
      this.error,
      page,
      term,
    )

    return {
      dossiers,
      term,
    }
  }

  async function retrieveDossiersEnCours(
    assembleeApiUrl,
    fetch,
    gotoError,
    page,
    term,
  ) {
    if (term) {
      term = term.trim()
    }

    const response = await fetch(
      new URL(
        "dossiers?" +
          [
            term ? `q=${term}` : "",
            "follow=acte.organe",
            "follow=acte.provenance",
            "follow=acte.texteAdopte",
            "follow=acte.texteAssocie",
            "follow=acte.textesAssocies.texteAssocie",
            "follow=dossier.initiateur.acteurs.acteur",
            "follow=dossier.initiateur.organe",
          ].join("&"),
        assembleeApiUrl,
      ).toString(),
      {
        credentials: "same-origin",
      },
    )
    const [result, error] = await validateJsonResponse(null)(response)
    if (error != null) {
      return gotoError(
        `Error at ${
          page.path
        }, while retrieving "dossiers en cours": ${JSON.stringify(
          error,
          null,
          2,
        )}\n\n${JSON.stringify(result, null, 2)}`,
      )
    }

    let dossiers = result.uids.map((uid) =>
      insertDossierReferences(result.dossierByUid[uid], result, new Set()),
    )

    const nowText = new Date().toISOString()
    dossiers = dossiers.map((dossier) => {
      dossier = { ...dossier }
      dossier.nextDateKnitted = nextDate(dossier, nowText)
      dossier.previousDateKnitted = previousDate(dossier, nowText)
      dossier.currentDateKnitted =
        dossier.nextDateKnitted || dossier.previousDateKnitted || null
      {
        const actePath = nextActePath(dossier, nowText)
        if (actePath === null) {
          dossier.nextSummaryStepKnitted = null
        } else {
          const leafActe = actePath[actePath.length - 1]
          dossier.nextSummaryStepKnitted = {
            ...summaryStepFromActePath(dossier, actePath),
            date: leafActe.dateActe,
            libelle:
              leafActe.libelleActe.libelleCourt ||
              leafActe.libelleActe.nomCanonique,
          }
        }
      }
      {
        const actePath = previousActePath(dossier, nowText)
        if (actePath === null) {
          dossier.previousSummaryStepKnitted = null
        } else {
          const leafActe = actePath[actePath.length - 1]
          dossier.previousSummaryStepKnitted = {
            ...summaryStepFromActePath(dossier, actePath),
            date: leafActe.dateActe,
            libelle:
              leafActe.libelleActe.libelleCourt ||
              leafActe.libelleActe.nomCanonique,
          }
        }
      }
      let state = stateFromDossier(dossier)
      if (state !== null) {
        state = { ...state, color: colorFromStatus(state.currentStatus) }
      }
      dossier.stateKnitted = state
      dossier.summaryStepsKnitted = summaryStepsFromDossier(dossier)

      delete dossier.actesLegislatifs
      return dossier
    })

    return dossiers
  }
</script>

<script>
  import { faCheck } from "@fortawesome/free-solid-svg-icons/faCheck"
  import { faEllipsisH } from "@fortawesome/free-solid-svg-icons/faEllipsisH"
  import { faTimes } from "@fortawesome/free-solid-svg-icons/faTimes"
  import Icon from "fa-svelte"

  import { stores } from "@sapper/app"
  // import CalendarDate from "../../../components/CalendarDate.svelte"
  import SearchForm from "../../../components/SearchForm.svelte"
  import { showNewIssueModal } from "../../../stores"

  export let dossiers
  export let term

  const { session } = stores()

  // const now = new Date()

  $: legislature = $session.legislature
</script>

<svelte:head>
  <title>Assemblée | Dossiers législatifs | {$session.title}</title>
</svelte:head>

<SearchForm searchPath="dossiers/assemblee" {term} />

<ul>
  {#each dossiers as dossier}
    <li id={dossier.uid}>
      <!-- <CalendarDate date={parseISO(dossier.currentDateKnitted)} {now}/> -->
      <a
        class="flex my-2 no-underline text-gray-900"
        href="dossiers/assemblee/{dossier.uid}"
      >
        <!-- TODO: Remove this dummy `each`. -->
        {#each [dossier.summaryStepsKnitted[dossier.summaryStepsKnitted.length - 1]] as summaryStep}
          <div
            class="bg-{summaryStep.state === null ||
            summaryStep.state.finalSuccess === null
              ? summaryStep.color
              : summaryStep.state
                  .color}
            flex flex-col flex-none mr-1 p-1 text-center text-white"
          >
            <!-- <div class="text-gray-100 text-xs">Échellon</div> -->
            <div class="flex flex-auto flex-col justify-center">
              <span class="inline-block text-3xl">
                {dossier.summaryStepsKnitted.length}
                {#if summaryStep.state === null || summaryStep.state.finalSuccess === null}
                  <Icon icon={faEllipsisH} />
                {:else if summaryStep.state.finalSuccess}
                  <Icon icon={faCheck} />
                {:else}
                  <Icon icon={faTimes} />
                {/if}
              </span>
            </div>
          </div>
        {/each}
        <div class="flex-auto">
          {dossier.titreDossier.titre}
          <div class="my-1 text-gray-700 text-sm">
            <span>{dossier.procedureParlementaire.libelle}</span>
            <!-- <span class="bg-{dossier.stateKnitted.color} px-1 rounded text-white">{dossier.stateKnitted.label}</span> -->
            <!-- —
                  Étape {dossier.summaryStepsKnitted.length} -->
            <!-- — -->
            <!-- TODO: Remove this dummy `each`. -->
            <!-- {#each [dossier.summaryStepsKnitted[dossier.summaryStepsKnitted.length - 1]] as summaryStep}
                    <span class="bg-{summaryStep.color} my-1 p-1 text-white">
                      {summaryStep.organeName}{
                      #if summaryStep.title !== null}
                        —
                        {summaryStep.title}{
                      /if}
                    </span>
                    {#if summaryStep.state !== null && summaryStep.state.label !== null}
                      <span class="bg-{summaryStep.state.color} p-1 rounded text-base text-white">{summaryStep.state.label}</span>
                    {/if}
                  {/each} -->
          </div>
          {#if dossier.previousSummaryStepKnitted !== null}
            <!-- TODO: Remove this dummy `each`. -->
            {#each [dossier.previousSummaryStepKnitted] as summaryStep}
              <div class="my-1 text-sm">
                <span class="italic text-gray-700">
                  Dernière étape {displayDateFromLocalIsoString(
                    summaryStep.date,
                  )} :
                </span>
                <span class="font-semibold text-{summaryStep.color}">
                  {summaryStep.organeName}
                  {#if summaryStep.title !== null}, {summaryStep.title}{/if}
                </span>
                <span>, {summaryStep.libelle}</span>
                {#if summaryStep.state !== null && summaryStep.state.label !== null}
                  <span
                    class="bg-{summaryStep.state.color} px-1 rounded text-white"
                  >
                    {summaryStep.state.label}
                  </span>
                {/if}
              </div>
            {/each}
          {/if}
          {#if dossier.nextSummaryStepKnitted !== null}
            <!-- TODO: Remove this dummy `each`. -->
            {#each [dossier.nextSummaryStepKnitted] as summaryStep}
              <div class="my-1 text-sm">
                <span class="italic text-gray-700">
                  Prochaine étape {displayDateFromLocalIsoString(
                    summaryStep.date,
                  )} :
                </span>
                <span class="font-semibold text-{summaryStep.color}">
                  {summaryStep.organeName}
                  {#if summaryStep.title !== null}, {summaryStep.title}{/if}
                </span>
                <span>, {summaryStep.libelle}</span>
                {#if summaryStep.state !== null && summaryStep.state.label !== null}
                  <span
                    class="bg-{summaryStep.state.color} px-1 rounded text-white"
                  >
                    {summaryStep.state.label}
                  </span>
                {/if}
              </div>
            {/each}
          {/if}
        </div>
        <!-- {#if dossier.currentDateKnitted !== null}
                <CalendarDate date={parseDate(dossier.currentDateKnitted)} {now}/>
              {/if} -->
      </a>
    </li>
  {/each}
</ul>

<aside class="my-4 px-2 py-4 text-sm" role="complementary">
  <div class="flex flex-wrap -mx-2 -my-4">
    <div class="my-4 px-2 w-full sm:w-1/2">
      <h2
        class="bg-indigo-500 font-bold px-4 py-2 rounded-t text-lg text-white"
      >
        Pour en savoir plus
      </h2>

      <div
        class="bg-indigo-100 border border-t-0 border-indigo-400 px-4 py-3
        rounded-b text-indigo-600"
      >
        <h3 class="font-medium mb-1 text-base text-normal">
          Assemblée nationale
        </h3>

        <ul>
          <li>
            <a
              href="http://www.assemblee-nationale.fr/agendas/odj.asp"
              target="_blank"
            >
              Ordre du jour
            </a>
          </li>
          <li>
            <a
              href="http://www.assemblee-nationale.fr/{legislature}/liste/texte_ordre_du_jour.asp"
              target="_blank"
            >
              Textes inscrits à l'ordre du jour
            </a>
          </li>
          <li>
            <a
              href="http://www.assemblee-nationale.fr/{legislature}/documents/tableau-ban.asp"
              target="_blank"
            >
              État d'avancement des travaux législatifs
            </a>
          </li>
          <li>
            <a
              href="http://www.assemblee-nationale.fr/dyn/{legislature}/dossiers"
              target="_blank"
            >
              Liste des dossiers législatifs
            </a>
          </li>
        </ul>

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">Sénat</h3>

        <ul>
          <li>
            <a
              href="https://www.senat.fr/ordre-du-jour/ordre-du-jour.html"
              target="_blank"
            >
              Ordre du jour
            </a>
          </li>
          <li>
            <a
              href="https://www.senat.fr/dossiers-legislatifs/textes-recents.html"
              target="_blank"
            >
              Projets et propositions de loi récents ou discutés prochainement
            </a>
          </li>
        </ul>

        <h3 class="font-medium mb-1 mt-4 text-base text-normal">
          La fabrique de la loi
        </h3>

        <ul>
          <li>
            <a
              class="a"
              href="https://www.lafabriquedelaloi.fr/lois.html"
              target="_blank"
            >
              Textes promulgués depuis 2008
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="bg-teal-100 card mb-4 mt-4">
      <h2 class="bg-teal-500 card-header h5">Les coulisses techniques</h2>

      <ul>
        <li>
          <button
            class="button-link"
            on:click={() => ($showNewIssueModal = true)}
            title="Ouvre un formulaire de saisie d'une remarque sur cette page."
            type="button"
          >
            Signaler un problème ou suggérer une amélioration
          </button>
        </li>
        <li>
          <a
            class="a"
            href="dossiers/assemblee/api"
            target="_blank"
            title="Voir les appels à l'API effectués pour générer cette page."
          >
            Appels à l'API
          </a>
        </li>
        <li>
          <a
            class="a"
            href="https://framagit.org/tricoteuses/tricoteuses-ui/blob/master/src/routes/dossiers/assemblee/index.html"
            target="_blank"
            title="Voir le code source de la page dans la forge du logiciel."
          >
            Code source de cette page
          </a>
        </li>
      </ul>
    </div>
  </div>
</aside>
