<script>
  import { stores } from "@sapper/app"

  const { page } = stores()

  $: personneUid = $page.params.personne

  $: path = $page.path

  $: topMenu = [
    { to: `personnes/assemblee/${personneUid}`, text: "Général" },
    { to: `personnes/assemblee/${personneUid}/agenda`, text: "Agenda" },
  ]
</script>

<ul class="text-neutral-700">
  {#each topMenu as { text, to }}
    {#if path === to}
      <li class="portal ~neutral active" aria-selected="true">{text}</li>
    {:else}
      <li class="portal"><a href={to}>{text}</a></li>
    {/if}
  {/each}
</ul>

<slot />
